<div id="contact" class="container">
  {{ with .Site.Params.contact }}
  <div class="title">
    <h2>{{ .title }}</h2>
    <span class="byline">{{ .message }}</span>
  </div>
  <p>{{ .name_placeholder | markdownify }}</p>
  <ul class="actions">
    <li><a href="#" class="button">{{ .button_text }}</a></li>
  </ul>
  {{end}}
</div>
